<div class="pavo-widget-video "> 
	<div class="inner">
		<iframe src="{{ settings.link }}" style=" display:block;{{ settings.size }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>